body {
    color: beige;
}

.Title {
    font-size: 60px;
    text-align: center;
    font-family: 'Audiowide', cursive;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /*border: 3px solid black;*/
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.Score-Info {
    margin-top: 6%;
    border-radius: 30px;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.guessCSS {
    padding-left: 15px;
    padding-right: 40px;
    margin-top: 10px;
    font-size: 23px;
    font-family: 'Saira', sans-serif;
}

#guessWhat {
    margin-top: 10%;
    font-size: 90px;
    font-weight: bold;
    font-family: 'Audiowide', cursive;
    text-align: center;
}


.Footer {
    clear: both;
    font-size: 30px;
    font-family: 'Saira', sans-serif;
    text-align: center;
    height: 60px;
    position: fixed;
    z-index: 99;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.Linear-Gradient-BG {
    background: linear-gradient(-45deg, rgb(238, 119, 82, .85), rgb(231, 60, 126, .85), rgb(35, 166, 213, .85), rgb(35, 213, 171, .85));
    animation: change 10s ease-in-out infinite;
    background-size: 400% 400%;
    /* z-index: 1; */
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.Linear-Gradient-BG2 {
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
    background: linear-gradient(-45deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    animation: change 10s ease-in-out infinite;
    background-size: 400% 400%;
    /* z-index: 1; */
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}